body {
  background-color: #fcf8f3;
}
.to-do-list {
  background-color: #ffb6b6;
  width: 500px;
  margin: 40px auto;
  border-radius: 20px;
}
.txtbox {
  margin: 20px;
  border: 0;
  height: 40px;
  width: 360px;
  padding: 5px auto;
  border-radius: 10px;
  margin-left: 10px;
}
.txtbox::placeholder {
  cursor: pointer;
}
.txtbox:focus {
  outline: none;
}
#to-do-form button {
  border: 0;
  border-radius: 10px;
  height: auto;
  width: auto;
  cursor: pointer;
}
#to-do-form button:focus {
  outline: none;
}
